<div class="row">
  <div class="col-md-12">
    <h1>Visit  your <a href="/profile" class="btn btn-default btn-sm">Profile</a></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
<table class="table">
    <thead>
      <tr>
        <th>_id</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td>{{_id}}</td>
        <td>{{name}}</td>
        <td>{{email}}</td>
        <td>
          <form method="post" action="/pow/{{_id}}?_method=DELETE" class="form-inline">
                     <button type="submit" class="btn btn-default">Delete</button>
                </form>

        </td>

      </tr>
      {{/each}}

    </tbody>
  </table>
  </div>

<div class="col-md-6">
  <form method="post" action="">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Name" name="name">
  </div>
  <div class="form-group">
    <label for="email">Password</label>
    <input type="email" class="form-control" id="email" placeholder="E-mail" name="email">
  </div>
  <button type="submit" class="btn btn-default">Add User</button>
</form>
</div>
</div>
